*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;

    a {
        background-color: grey;
        padding: 4px;
        color: white;

        &[aria-current='page'] {
            background-color: purple;
        }
    }
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;

    a {
        display: block;
        padding: 6px;

        img {
            display: block;
        }
    }
}