
nav {
    &.top-navigation-bar {
        display: flex;
        justify-content: space-evenly;
    }

    &.left-navigation-bar, &.right-navigation-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    a {
        background-color: grey;
        padding: 4px;
        color: white;

        &[aria-current='page'] {
            background-color: purple;
        }
    }
}
