main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: var(--footer-height);

    .page_wrapper {
        margin: 20px auto;
        padding: 20px;
        background-color: hsla(200, 15%, 30%, 0.95);
        color: white;
        width: fit-content;
        max-width: 50dvw;
        border-radius: 2rem;

        pointer-events: auto;

        view-transition-name: page_wrapper;

        img {
            max-width: 100%;
        }
    }
}

::view-transition-group(page_wrapper) {
    animation-duration: 0.25s;
    animation-timing-function: ease;
}

::view-transition-new(page_wrapper) {
    animation-name: slide-in;
}

::view-transition-old(page_wrapper) {
    animation-name: slide-out;
}


@keyframes slide-in {
    from {
        transform: translateY(100dvh);
    }
}

@keyframes slide-out {
    to {
        transform: translateY(100dvh);
    }
}